VITE_SUPABASE_URL=https://mxuxoelyxvdsfsngsohm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14dXhvZWx5eHZkc2Zzbmdzb2htIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1OTI4ODksImV4cCI6MjA2ODE2ODg4OX0.-A_X1JtjK1JNyishFq5ELa4CbAxBDYb2Zo5raUvQFcM
VITE_LLAMA_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14dXhvZWx5eHZkc2Zzbmdzb2htIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI1OTI4ODksImV4cCI6MjA2ODE2ODg4OX0.-A_X1JtjK1JNyishFq5ELa4CbAxBDYb2Zo5raUvQFcM